{% extends 'Kernel/base.html' %}

{% load static %}

{% block content %}
    <header class="masthead text-center text-white">
      <div class="masthead-content">
        <div class="container">
          <h1 class="masthead-heading mb-0">DjaDjaCharts</h1>
          <h5 class="masthead-subheading mb-0">Import your files, create your charts!</h5>
          <a href="{% url 'import' %}" class="btn btn-primary btn-xl rounded-pill mt-5">IMPORT DATA</a>
        </div>
      </div>
    <div id="container" style="width: 80%; height: 70%; margin-left: auto; margin-right: auto; margin-top: 4%"></div>
    </header>
    <script src="{% static 'Kernel/js/djadjaAreaSpline.js' %}"></script>
{% endblock %}