{% extends 'Kernel/base.html' %}

{% load static %}

{% block content %}
	<section id="firstSection">
		<div class="container" style="margin-left: 0%; margin-top: 10%">
          <div class="row justify-content-center">
            <div class="col" style="margin-left: 0%; margin-right: 10%">
				<h1> {{ fichier.nom }}, importé le {{ fichier.date }} </h1>
			</div>
		  </div>
		</div>
		<div id="leftPart">
			<div id="report_charts"></div>
			<label for='name'>Background color :</label>
			<div id="colorSelector"><div style="background-color: #0000ff"></div></div>
			<label for='name'>Line color :</label>
			<div id="colorSelectorLine"><div style="background-color: #0000ff"></div></div>
			<label for='name'>Title :</label>
			<div id="graphTitleDiv"><input id="graphTitle" type="text" class="text-line" /></div>
		</div>
		<div id="middlePart" style="margin-left: 20%; margin-top: -15%">
			<label for='name'>Subtitle :</label>
			<div id="graphSubTitleDiv"><input id="graphSubTitle" type="text" class="text-line" /></div>
			<label for='name'>Yaxis Name :</label>
			<div id="graphYaxisTitleDiv"><input id="graphYaxisTitle" type="text" class="text-line" /></div>
			<label for='name'>Xaxis Name :</label>
			<div id="graphXaxisTitleDiv"><input id="graphXaxisTitle" type="text" class="text-line" /></div>
		</div>
	</section>
	<script>
	  var abscisse = {{abscisse | safe}};
	  var ordonnee = {{ordonnee | safe}};
    </script>
{% endblock %}